.footer {
    height: 15vh;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #dcfb2f;
}

.footer-text {
    font-family: $main_font;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: 700;
    padding-top: 1.5rem;
}

.navigation-link-footer {
    font-family: $main_font;
    font-size: large;
    font-weight: 700;
    color: black;
    padding: 10px;
    text-decoration: none;
}