.container-team {
    margin: 5rem 0;
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nutritionist_team {
    flex: 0 1 350px;
}
.header-h2 {
    font-size: 50px;
    text-align: center;
    padding: 2.5rem;
}
.header-h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 1.5rem 0;
    text-align: center;
}
.description {
    font-size: 22px;
    text-align: center;
}