.container-team {
    margin: 5rem 0;
    display: flex;
    padding: 3rem;
}
.team-header {
    font-size: 50px;
    text-align: center;
    padding: 2.5rem;
}
.nutritionist_header {
    font-size: 30px;
    font-weight: bold;
    padding: 1.5rem 0;
    text-align: center;
}
.nutritionist_description {
    font-size: 22px;
    text-align: center;
}